/nbproject/private/private.xml
/build/
*.xml
*.mf
*.properties
/dist/
*.*~
private.xml
.properties
/nbproject/private/private.properties
/nbproject/project/project.properties
/nbproject/private/
!/nbproject/project.properties